@import "tailwindcss";


@theme {
  --color-purple-primary: #a79ee9;
  --color-purple-primary-shade: #f0f1ff;
  --color-purple-primary-shade-2: #cbc8f5;
  --color-purple-secondary: #edeef6;
  --color-purple-secondary-text: #968bf0;
}

@utility card {
  @apply w-80 md:w-100 mt-6 text-left text-3xl tracking-tighter font-bold shadow-lg py-8 px-6 rounded-lg flex flex-col items-center md:items-start;
}

@utility card-icon-box {
  @apply w-20 flex justify-center p-4 bg-purple-primary-shade;
}

@utility card-icon {
  @apply text-purple-primary text-4xl;
}

@utility card-title {
  @apply mt-6 text-center md:text-left text-3xl tracking-tighter font-bold;
}

@utility card-body {
  @apply mt-4 text-lg text-center md:text-left tracking-tighter font-light;
}